.form-container {
  background-color: gray;
  height: 100vh;
  padding: 30px;
  width: 45%;
}

h2 {
  margin-top: 50px;
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  width: 60%;
}

.label {
  margin: 10px;
  width: 100%;
}
