* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  width: 100%;
}

.preview-container {
  align-items: center;
  background-color: rgb(13, 56, 39);
  display: flex;
  justify-content: center;
  width: 55%;
}

.name-title {
  align-items: flex-end;
  background-color: rgb(12, 61, 12);
  border-radius: 5px 5px 0 0;
  color: white;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: flex-end;
  padding: 8px;
}

.img-container {
  background-color: white;
  height: 240px;
  padding: 8px;
  width: 100%;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.description-card {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  height: 90px;
  justify-content: center;
  padding: 8px;
  text-align: center;

  /* transform: rotate(-6.92deg); */
  width: 100%;
}

.attr-container {
  align-items: center;
  background-color: white;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 10px;
  height: 210px;
  justify-content: center;
  padding: 0 35px;
}

.card-attr {
  background-color: rgb(197, 193, 193);
  border-radius: 20px;
  padding: 8px 0 8px 8px;
}

.card-attr span {
  background-color: rgb(12, 61, 12);
  border-radius: 0 20px 20px 0;
  color: white;
  margin-left: 10px;
  padding: 8px;
}

h1 {
  font-size: 45px;
  padding: 50px 0;
  text-align: center;
}

.normal {
  background-color: rgb(10, 10, 151);
}

.raro {
  background-color: goldenrod;
}

.muito-raro {
  background-color: blueviolet;
}

.rare-card {
  display: none;
}

.logo1 {
  left: 260px;
  position: relative;
  top: -90px;
  z-index: 2;
}

.tryunfo {
  height: 2px;
  width: 72px;
}
